^tmp_admin=head^
<div class="col-md-9">
    ^tmp_admin=elements=error_success^
    ^tmp_admin=elements=sub_nav^
    ^tmp_admin=elements=tab_nav^
    <form name="iconSettingsForm" ng-submit="saveIconSettings()" novalidate>
        <fieldset>
            <div class="tab-content">
                <div class="tab-pane active" id="icon_settings">
                    <div class="form-group">
                        <label>^loc_COLOR_SCHEME^&nbsp;<span id="column_inches"></span></label>
                        <select class="form-control" ng-options="item.value as item.label for item in colorValues" ng-model="iconSettings.colors"></select>
                    </div>
                    <div class="form-group">
                        <label>^loc_WIDGET_SIZE^&nbsp;<span id="column_inches"></span></label>
                        <select class="form-control" ng-options="item.value as item.label for item in sizeValues" ng-model="iconSettings.size"></select>
                    </div>
                </div>
                <a class="btn btn-default" href="/admin/plugins/soundcloud-widget/settings">
                    <i class="fa fa-ban"></i>&nbsp;^loc_CANCEL^
                </a>
                ^tmp_admin=elements=save_button^
            </div>
        </fieldset>
    </form>
</div>
^tmp_angular=admin=settings=icon_settings^
^tmp_admin=footer^